* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/tenshi.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,Lucida Grande,Hiragino Sans GB,Hiragino Sans GB W3,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    background-attachment: fixed;
}

main {
    height: 100vh;
    width: 100%;
}

footer {
    height: 20vh;
    width: 100%;
}

.text {
    height: 20vh;
    width: 100%;
    position: absolute;
}

.text p{
    text-align: center;
    font-size: 1.5vh;
    color: white;
    padding-top: 15vh;
}

.animation {
    position: relative;
    float: right;
    margin-right: 4vh;
    height: 20vh;
    width: 13vh;
    background-image: url(/img/rei2.gif);
    background-size: 13vh;
    background-repeat: no-repeat;
}

@keyframes run {
    0%   {background-position: 0;}
    100% {background-position: -8190px;}
}

main {
    height: 80vh;
    padding: 12.5vh 0 0 7.5vh;
}

.card {
    background-image: url(/img/tenshi-blur.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    box-shadow: 0 0 8px 1px rgb(0, 0, 0);
    border-radius: 0.5vh;
    position: relative;
    max-width: 40vh;
    text-align: center;
    padding-left: 4.5vh;
    padding-right: 4.5vh;
}


.avatar:before {
    content: '';
    display: block;
    position: absolute;
    top: 14.7vh;
    left: -0.4em;
    width: calc(100% + 0.8em);
    height: 1px;
    z-index: 1;
    background: rgb(255, 255, 255);
}

.avatar img {
    height: 13.4vh;
    border-radius: 100%;
    margin-top: 8vh;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 8px 1px rgb(0, 0, 0);
    transition: box-shadow 0.2s;
}

.avatar img:hover {
    box-shadow: 0 0 5px 1px rgb(0, 0, 0);
}

.avatar h1 {
    font-size: 3vh;
    font-weight: bolder;
    color: white;
    text-shadow: 0 0 3px rgb(255, 255, 255);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.avatar p1 {
    font-size: 2vh;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px rgb(255, 255, 255);
}

.social {
    padding-top: 4vh;
    padding-bottom: 7vh;
}

.social li {
    list-style: none;
    display: inline-block;
    padding: 0vh 0vh;
}

.social a {
    color: white;
    font-size: 3vh;
    border-radius: 100%;
    padding: 0.3vh 1vh;
    transition: box-shadow 0.2s;
}

.social a:hover {
    box-shadow: 0 0 8px 1px rgb(0, 0, 0);;
}